html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
.div1 { 
  margin: 10px;
  grid-area: 1 / 1 / 2 / 2; 
}
.div2 { grid-area: 1 / 2 / 2 / 7; }